# Ignore Python cache files
__pycache__/
*.py[cod]

# Ignore virtual environment
venv/

# Ignore dotenv secrets
.env

# Ignore Streamlit cache and temp files
.cache
temp.py

# Ignore OS/system files
.DS_Store
Thumbs.db
